{% extends "::base.html.twig" %}

{% block title %}AppBundle:Calendar:edit{% endblock %}

{% block body %}
    <div class="box-body">
        {% for message in app.flashes('notice') %}
            <div style="float: right" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title">Welcome to the Calendar:edit page</h1>
                    </div>
                    <div class="box-body">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
