.dropdown-menu{
    right: auto!important;
    left: 0!important;
    width: inherit!important;
}
.buttonEdit{
    margin: 5px 0 25px 0;
}
#avatar{
    display: initial!important;
    padding: 0!important;
}