@import url(https://fonts.googleapis.com/css?family=Open+Sans);

a,a:visited,a:hover,a:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    /*font-size:1.5em;*/
}
a:hover{
    color:#d73444;
}